<p id="notice"><%= notice %></p>

<h1>Brunoagendas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Id seq</th>
      <th>Endereco</th>
      <th>Preco</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brunoagendas.each do |brunoagenda| %>
      <tr>
        <td><%= brunoagenda.nome %></td>
        <td><%= brunoagenda.id_seq %></td>
        <td><%= brunoagenda.endereco %></td>
        <td><%= brunoagenda.preco %></td>
        <td><%= brunoagenda.email %></td>
        <td><%= link_to 'Show', brunoagenda %></td>
        <td><%= link_to 'Edit', edit_brunoagenda_path(brunoagenda) %></td>
        <td><%= link_to 'Destroy', brunoagenda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brunoagenda', new_brunoagenda_path %>
